@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<html lang="sv">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<!-- Content! -->
			 @RenderBody()
<!-- /Content! -->

</body>
</html>