<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <startPage id="1057" key="c7d579c8-75c4-4d27-a848-76634701a1f7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-02T10:17:02" updateDate="2016-06-02T10:56:15" nodeName="Members" urlName="members" path="-1,1057" isDoc="" nodeType="1054" creatorName="Ulf Möllerström" writerName="Ulf Möllerström" writerID="0" template="1053" nodeTypeAlias="startPage">
    <textPage id="1058" key="fda469c7-8bbb-42da-ad87-6b5acf2397c5" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2016-06-02T10:17:18" updateDate="2016-06-02T10:59:52" nodeName="AddMembers" urlName="addmembers" path="-1,1057,1058" isDoc="" nodeType="1056" creatorName="Ulf Möllerström" writerName="Ulf Möllerström" writerID="0" template="1055" nodeTypeAlias="textPage" />
  </startPage>
</root>